:root {
  --primary-100: #ECEDF9;
  --primary-600: #494FC9;
  --primary-800: #2B2F8F;
  --gray-200: #E5E5E5;
  --gray-300: #E5E5E5;
  --gray-600: #616161;
  --gray-500: #8A8B9F;
  --gray-800: #424242;
  --gray-900: #212121;
  --white: #FFFFFF;
  --negatives-700: #C4040E;

  --border-primary: var(--gray-300);

  --font-bold: 640;
  --font-bolder: 740;
}