.filter-pill {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 6px 12px;
  border-radius: 12px;
  background-color: var(--primary-100);
  color: var(--primary-600);
  button {
    all: unset;
    display: flex;
  }
  img {
    height: 15px;
    width: 15px;
  }
}