@import './styles/vars.scss';

*, ::after, ::before {
  box-sizing: border-box;
}
.header-container {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--border-primary);

  .top-navigation {
    border-bottom: 1px solid var(--border-primary);
    width: 100%;
    background-color: var(--white);

    .container {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      gap: 10px;

      .top-navigation-main {
        display: flex;
        flex: 1 1;
        flex-direction: row;
        gap: 10px;
        padding: 0;
        position: static;
        justify-content: space-between;
        width: 100%;
        z-index: inherit;

        .main-nav {
          display: flex;
          margin-left: auto;
          order: 0;
          width: max-content;
          gap: 40px;
        }
      }
      .top-navigation-wrap {
        display: flex;
        align-items: center;
        flex: 1 1;
        justify-content: space-between;
      }
    }
  }
  ul.main-menu, ul.menu-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 0 0;
    list-style: none;
  }
  .top-level-menu-item-container {
    position: relative;

    .top-level-menu-item {
      display: inline-flex;
      padding: 2rem;
      text-decoration: none;
      color: var(--gray-600);
      font-weight: 600;
    }
    &:first-child .top-level-menu-item{
      color: var(--primary-600);
    }
  }
  .seperator {
    width: 32px;
    height: 0;
    border: 1px solid var(--border-primary);
    transform: rotate(90deg);
  }
  .top-level-menu-item-container.profile-pic {
    display: flex;
    align-items: center;
    .top-level-menu-item {
      padding-left: 1rem;
    }
  }
}

.main-menu-toggle {
  display: none;
}

.main-wrapper {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr);

  .sidebar {
    display: flex;
    flex-direction: column;
    align-self: start;
    grid-area: sidebar;
    border-right: 1px solid var(--border-primary);
    max-height: 100vh;
    height: 100%;
    overflow: auto;

    .aside-header {
      font-size: 24px;
      color: var(--primary-800);
      padding: 20px;
      margin: 0;
      position: sticky;
      top: 0;
      background-color: var(--white);
      z-index: 1;
    }
    .apply-filter {
      align-self: center;
      width: 100%;
      padding: 20px;
    }
  }
  .main-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80%;
    border-right: 1px solid var(--border-primary);
    padding: 20px;
    overflow: auto;
    max-height: 100vh;
    gap: 20px;

    .load-more{
      width: 20%;
      margin: 0 auto;
      margin-top: 10px;
    }

    .cards-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .filter-pill-container{
      display: flex;
      gap: 10px;
    }
    .clear-all {
      appearance: none;
      text-decoration: underline;
      color: var(--primary-600);
      background-color: var(--white);
      border: none;
    }
    .result-information {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    .result-information-stats {
      color: var(--gray-600);
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        background-color: var(--primary-100);
        border: none;
        color: var(--primary-600);
        padding: 10px;
        i {
          margin-left: 5px;
          font-size: 11px;
        }
      }
    }
  }
}

// mobile
@media screen and (max-width:1087px) {
  .main-wrapper .sidebar {
    display: none;
  }

  .main-wrapper {
    grid-template-areas: "main";
    grid-template-columns: 1fr;
  }
  .main-wrapper .main-content{
    max-width: 100%;
  }
  .profile-card .user-detail-tags-container {
    flex-direction: column;
  }
  .profile-card-rate-card {
    width: 100%;
  }
  .card-highlights {
    flex-direction: column;
  }
  .view-profile-btn {
    display: none !important;
  }
  .main-wrapper .main-content .load-more {
    width: 50%;
  }
  .profile-card .user-brief .user-brief-text {
    overflow: hidden;
    overflow-wrap: anywhere;
  }
  .main-menu-toggle {
    display: block;
    background: transparent;
    border: none;
  }
  .container, .top-navigation-main, .main-nav, .main-menu, .menu-actions {
    flex-direction: column !important;
  }
  .seperator {
    display: none;
  }
  ul.main-menu, ul.menu-actions {
    align-items: start !important;
  }
  .main-nav {
    margin-left: 0 !important;
    gap: 0 !important
  }
  .profile-pic {
    margin-left: 30px;
  }
  .top-navigation {
    height: 100vh;
  }
  .top-navigation.hide-top-nav {
    height: auto !important;
  }
  .top-navigation-wrap {
    width: 100%;
  }
  .icon-cancel {
    background-image: url('./icons/times.svg');
  }
  .top-navigation-main.hide-top-nav {
    display: none !important;
  }
  [data-reach-dialog-content] {
    position: absolute !important;
    bottom: 0;
    top:unset !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    width: 100vw !important;
    margin: 0 !important;
    .modal-body .location-search-btn {
      margin-top: 10px !important;
    }
  }
}


// reusable classes
.icon {
  height: 25px;
  width: 25px;
}

.badge {
  background-color: var(--negatives-700);
  color: var(--white);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  text-align: center;
  margin-left: 10px;
}
.p-r-0 {
  padding-right: 0 !important;
}

.flex-1 {
  flex: 1;
}
.visually-hidden {
  clip: rect(1px,1px,1px,1px) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

// modal
[data-reach-dialog-content] {
  position: relative;
  top: 20%;
  padding: 1rem !important;
  border-radius: 12px;
  .modal-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    h4 {
      margin: 0;
      flex: 1;
      color: var(--primary-800);
      font-size: 24px;
      font-weight: 700;
    }
  }
  .modal-body {
    .location-search-btn {
      margin-top: 100px;
      button {
        width: 100%;
      }
    }
    label {
      color: var(--gray-600);
    }
    .select-postcode>div:first-of-type {
      border-radius: 12px;
      margin-top: 5px;
    }
  }
  .select-postcode {
    &div:first-child {
      border-radius: 12px;
      min-height: 50px;
    }
  }
}
[data-reach-dialog-overlay]{
  z-index: 3;
}


// reset
ul {
  all: unset;
}
button {
  cursor: pointer;
}
.accessible-button{
  background-color: transparent;
  border: none;
}